.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}




html body { width:100%;
	background-color:#a0d0ff;
    text-align:center;
    overflow-x:hidden;overflow-y:auto;
}

 .mainFrame {
 	position: relative;
	background-color:#a0d0ff;
	border:1px dashed #a000ff;
	width:570px;
	height:582px;
	margin:0 auto;
 }



 .rightfrm {
	position: absolute;
	top:2px; left:302px;
	float:right;
	border:none;
	margin:10px;
	width:40%;
	height:540px;
	text-align:left;
 }

 .plaintxt {
	background-color:#a0d0ff;
	border:0px;
	text-align:left;
	font-family:Verdana;
	font-size:12px;
	color:#ffffff;
 }

 .label {
	background-color:#a0d0ff;
	border:0px;
	width:2em;
	font-family:Verdana;
	font-size:16px;
	color:#a000ff;
 }

 .frmButton {
	border:none;
	margin:0px;
	padding:0px;
	width:50px;
	height:20px;
	font-family:Verdana;
	font-size:12px;
	background:url(./images/tabBtn.gif) no-repeat;
 }

 #nextBlock {
	border:2px solid #a000ff;
	width:132px;
	height:132px;
	background-color:#a0c0ff;
	
 }





 #bgSelect {
 	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
 }

 .tab-box { margin-top:20px; font-size:12px; font-family:Verdana;	}

 .tab-menu { margin:10px; padding:5px; border-radius:8px 8px 0 0;  }
	
 .tab-content { float:left; width:240px; height:250px; margin-top:4px; padding:5px; border-radius:8px 8px 0 0; background: #77BBFF;  }
 
 .show { display:block; }
 .hide { display:none;  }

 .selected { background: #77BBFF; }
 .unselected { background:#A3CFFD;  }

 a, a:hover, a:link, a:visited { text-decoration:none; color:#000; }

#cfgView select { font-family:Verdana; }

 #imgBlockIcon { background:url(./images/tetris.gif) center; margin-left:15px; }
 





	table {
		position: absolute;
		width:100%; height:100%;
		font-size: 12px;
		border: 1px solid #6699cc;
	}

	div#imgBlockIcon {
		position: absolute;
		top: 450px; left: 5px;
		width:196px; height:28px;
		background: url(./images/tetris.gif) no-repeat;
		background-position:0px 0px;
		z-index:10;
	}
	